/* try to divede the screen in two 
sections, using flex */

main {
    display: flex;
    height: 100vh;
}
.list {
    background-color: lavenderblush;
    flex: 4;
}
#form{
    background-color:pink;
    flex: 4;   
}
.task{
    margin:10px 20px;
    padding:10px;
    display:flex;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    
}

.task .info{
    flex:3;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.task .status{
    flex: 1;
}

.task .date-budget{
    flex:1;
}